.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #2d3134;
}
.time {
    color: #676a6c;
    font-size: 12px;
    font-weight: 500;
}
